<div class="user-info-title"
	mat-dialog-title
>
	<div class="user-info-title__content">
		<h2>{{ 'Peněženka' | translate }}</h2>
		<small>{{ 'Aktualizováno' | translate }}: {{ userService.lastChecked | date: 'dd.MM.yyyy HH:mm' }}</small>
	</div>
</div>

<div mat-dialog-content>
	<div class="detail-item">
		<label>{{ 'Vloženo' | translate}}: </label>
		<strong>{{ dialogData.data.user.DepositSum ?? 0 }}&nbsp;Kč</strong>
	</div>

	<div class="detail-item">
		<label>{{ 'Utraceno' | translate}}: </label>
		<strong>{{ dialogData.data.user.BuySum ?? 0 }}&nbsp;Kč</strong>
	</div>

	<div class="detail-item">
		<label>{{ 'Zbývá' | translate}}: </label>
		<strong>{{ dialogData.data.user.TotalSum }}&nbsp;Kč</strong>
	</div>
	<ng-container *ngIf="dialogData.data.transactions.length > 0">
		<h3 class="transactions-title">{{ 'Poslední transakce' | translate}}</h3>
		<mat-list role="list">
			<mat-list-item role="listitem"
				*ngFor="let transaction of dialogData.data.transactions">
				<span matListItemTitle>{{transaction.Name}}</span>
				<span matListItemLine>{{ transaction.AmountSum }} Kč</span>
				<span matListItemLine>{{ transaction.Created | date: 'dd.MM.yyyy HH:mm' }}</span>
			</mat-list-item>
		</mat-list>
	</ng-container>
</div>

<mat-dialog-actions align="end">
	<div class="actions">
		<button mat-stroked-button
			color="warn"
			(click)="refreshData()"
		>
			{{ 'Aktualizovat' | translate }}
		</button>

		<button mat-raised-button
			mat-dialog-close
		>
			{{ 'Zavřít' | translate }}
		</button>
	</div>
</mat-dialog-actions>
