:host {
	.mat-mdc-dialog-title  {
		&:before {
			height: 0;
		}
		padding-bottom: 0;
	}
}

.user-info-title {
	&__content {
		display: flex;
		flex-direction: column;

		h3 {
			margin: 0;
		}

		small {
			font-size: 13px;
			line-height: 13px;
		}
	}
}

.transactions-title {
	margin:  0 !important;
}

.transaction-list {
	&:not(:last-child) {
		border-bottom: 1px solid #f0c100;
	}
}

.actions {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
