:host {
	.mat-mdc-dialog-title  {
		&:before {
			height: 0;
		}
		padding-bottom: 0;
	}
}

.user-info-title {
	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;

		h2 {
			margin: 0;
		}

		small {
			font-size: 13px;
		}
	}
}

.transactions-title {
	margin: 20px 0 0 0;
}

mat-list-item {
	&:not(:last-child) {
		border-bottom: 1px solid rgba(var(--cy__color--border), 0.25);
	}
}
