// Some overrides goes here
@import "overides/mat-dialog";
@import "overides/mat-drawer";
@import "overides/mat-option";
@import "overides/mat-table";
@import "overides/mat-toolbar";
@import "overides/mat-button";
@import "overides/mat-snackbar";
@import "overides/mat-chip";
@import "overides/mat-tabs";
@import "overides/mat-bottom-sheet";

:root {
	--mdc-theme-surface: #222222;
}

.mdc-menu-surface {
	background-color: var(--mdc-theme-surface, #1e1e1e);
}

.cdk-overlay-dark-backdrop {
	background: rgba(0, 0, 0, 0.8);
}
