.w-100 {
	width: 100%;
}

.d-flex {
	display: flex;
}

.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-between {
	justify-content: space-between;
}

.flex-grow-1 {
	flex-grow: 1;
}

.font-3rdman {
	font-family: rdman, monospace !important;
}
