//$purple: #03a27b;
//$purple-light: #D0EAE6; //#03a27b30
$purple: #c158bb;
$purple-light: #c158bb30;
$dark-purple: #880C9E;
$light-green: #03a27b;
$dark-green: #115F52;
$dark-background: #0A322C;

:root .mat-accent.mat-mdc-fab, :root .mat-accent.mat-mdc-mini-fab {
  --mdc-fab-small-container-color: #c158bb30 !important;
}

@font-face {
  font-family: YanoneKaffeesatz;
  src: url(/assets/fonts/YanoneKaffeesatz-VariableFont_wght.ttf);
  font-weight: bold;
}

@font-face {
  font-family: WorkSans;
  src: url(/assets/fonts/WorkSans-VariableFont_wght.ttf);
  font-weight: bold;
}

//:root {
//  --mat-standard-button-toggle-selected-state-background-color: #880C9E !important;
//}
//
//
//.mat-toolbar {
//  background-color: $dark-background !important;
//}
//
//.full-program__list {
//  //background-color: #0A322C !important;
//  //background-color: $dark-purple !important;
//}
//
//.mat-mdc-button, .mat-mdc-unelevated-button, .mat-mdc-raised-button, .mat-mdc-fab, .mat-mdc-mini-fab {
//  &.mat-unthemed {
//    background-color: unset !important;
//  }
//}
//
//.place__title__text {
//  background-color: $dark-purple !important;
//}
//
//h4,h3 {
//  color: unset !important;
//}
//
//.mat-divider {
//  border-top-color: $purple !important;
//}
//
//.list-timeline__segment__border--now {
//  background-color: $purple !important;
//}
//
//.list-timeline__segment__border {
//  background-color: #c158bb30 !important;
//}

.card-title, p {
  //font-family: WorkSans, sans-serif;
}

.list-vertical__event:not(:last-child) {
  border-bottom: 1px solid #c158bb80;
}



//light

.mat-toolbar {
  background-color: $purple !important;
}

.full-program__list {
  background-color: $purple-light !important;
}

app-bottom-menu {
  mat-toolbar {
    background: white !important;

    .bottom-menu__content {
      background: white !important;

      .bottom-menu__button {
        color: $dark-background !important;
      }
    }
  }
}

.place__title__text {
  background-color: $purple !important;
  color: white;
}

.list-timeline-bg {
  background-color: #E1ABDD !important;
  opacity: 1 !important;
}

.full-program {
  .toolbar-wrapper::after {
    //transform: rotate(180deg);
  }
  .place__segment__event {
    opacity: 1 !important;
    border: 1px solid #00000060 !important;
    //z-index: 100 !important;
  }
  .full-program__toolbar {
    .mat-mdc-icon-button {
      color:white
    }
  }
}
.list-timeline__segment__border--now {
  background-color: $purple !important;
}

.list-timeline__segment__border {
  background-color: #03a27b30 !important;
}

.mat-mdc-button, .mat-mdc-unelevated-button, .mat-mdc-raised-button, .mat-mdc-fab, .mat-mdc-mini-fab {
  &.mat-unthemed {
    background-color: unset !important;
  }
}

h4,h3 {
  color: $purple !important;
  font-weight: bold;
}

.mat-divider {
  border-top-color: $purple !important;
}
app-event-detail-full {
  .event-detail {
    background-color: $purple-light !important;

    .event-detail__content__title div {
      color: $dark-background;
    }

    .event-detail__close, .favorite-button {
      color: $dark-background !important;
    }
  }
}

p {
  color: $dark-background;
}

.full-program__secondary-toolbar mat-toolbar {
  background-color: white !important;
}

.list-vertical__day {
  background-color: $purple !important;
  color: white !important;
}

.list-vertical__event__content__title .event-title {
  color: $purple !important;
}

mat-bottom-sheet-container {
  background: $purple-light;
}

.card-sidebar {
  background: $purple;
  color: white;
  border-color: #00000060
}