
:host {
	display: block;
	height: 100%;

	.mat-mdc-dialog-content {
		padding: 0 !important;
	}
}

.event-detail {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100%;

	mat-dialog-content {
		display: flex;
		flex-direction: column;
	}
	&__close {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		color: white;
	}

	&__image {
		width: 100%;
		position: relative;
		text-align: center;

		.image-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgb(var(--cy__color--background), 0.3);
		}

		img {
			max-width: 100%;
			height: auto;
		}
	}

	&__content {
		padding: 10px 20px;

		&__title {
			word-wrap: break-word;
			color: #eee;
			text-align: center;

			h3 {
				color: #f0c100;
			}
		}

		&__description {
			padding-top: 10px;
			color: #eee;
		}
	}

	&__actions {
		padding: 15px;
		display: flex;
		justify-content: flex-end;

		.favorite-button {
			transform: scale(1.5);
			color: white;
		}
	}

	&__no-data {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;

		&__text {
			text-align: center;
		}
	}
}
