<div class="event-detail">
	<ng-container *ngIf="event && place; else noData">
		<div>
			<button mat-icon-button
				(click)="navigateBack()"
				class="event-detail__close"
				aria-label="Close event detail"
			>
				<mat-icon>keyboard_backspace</mat-icon>
			</button>

			<div class="event-detail__image">
				<div class="image-overlay"></div>
				<img [src]="'/assets/images/cybertown_logo_square.jpg'"
					alt="Event image"
				>
			</div>

			<div class="event-detail__content">
				<div class="event-detail__content__title">
					<h2>{{ event | translateEventProperty: 'name' }}</h2>
					<div>{{ fullProgramConfig.eventTypes[event.type].name | translate }}</div>
					<div>{{ event.start | date: 'HH:mm' }} - {{ event.end | date: 'HH:mm' }}</div>
					<div>{{ place.name }}</div>
				</div>
				<mat-divider></mat-divider>
				<div class="event-detail__content__description">
					<p>{{ event | translateEventProperty: 'description' }}</p>
				</div>
			</div>
		</div>

		<div class="event-detail__actions">
			<button mat-icon-button
				class="favorite-button"
				(click)="toggleFavorite()">
				<mat-icon>{{ event.favorite ? 'favorite' : 'favorite_border' }}</mat-icon>
			</button>
		</div>
	</ng-container>

	<ng-template #noData>
		<div class="event-detail__no-data">
			<div class="event-detail__no-data__text">
				<mat-icon>error_outline</mat-icon>
				<h2>Event not found</h2>
			</div>
		</div>
	</ng-template>
</div>

