<mat-list>
    <mat-list-item>
        <span matListItemTitle>Coloseum</span>
        <span matListItemLine>Aréna každý den od rána do večera, finále v Coloseu Sobota 16:00</span>
        <span matListItemLine>Přijďte vyhrát slávu a rezáky v Aréně za bránou Námka, otevřeno bude skoro furt - nejlepší bojovníci se pak
        utkají v sobotu v Polygonu v eventu Coloseum. Vítěz bere vše!</span>
    </mat-list-item>

    <mat-list-item>
        <span matListItemTitle>NERF střelnice</span>
        <span matListItemLine>Pátek a sobota 10:00 - 18:00</span>
        <span matListItemLine>Na Rushaven ožije i Aztlan district pod vedením Shaataze, kterej si pro vás nachystal turnaj v NERF střelecké
        dráze. Máš "big iron on your hip"? Tak skoč za Radnici, a zjisti jak vostrej seš střelec. Na nejlepší tři
        střelce čekají balíky merche, a pro toho nejlepšího vymazlená nerfka.</span>
    </mat-list-item>
    <mat-list-item>
        <span matListItemTitle>Nejlepší kostým</span>
        <span matListItemLine>1. kolo Námko pátek 13:30, druhé kolo Polygon 17:00</span>
        <span matListItemLine>Letos bude soutěž o nejlepší kostým fakt epická. Čeká vás super porota, moderátor Marťušák a nabušené odměny pro
        výherce. Soutěžit se bude pouze v jedné kategorii - nejlepší kostým. Můžou se účastnit i menší skupinky, ale
        hodnoceny budou podle pravidla "řetěz je tak silný, jako jeho nejslabší článek".</span>
    </mat-list-item>
    <mat-list-item>
        <span matListItemTitle>Nejlepší kára a motorka</span>
        <span matListItemLine>1. kolo louka pátek 13:00, druhé kolo Polygon 15:30</span>
        <span matListItemLine>Řev motorů, kulervoucí dekošky, pach pálených pneumatik a BENZÍN! První kolo soutěže o nejlepší káru a motorku
        proběhne na Louce, druhé v Polygonu</span>
    </mat-list-item>
    <mat-list-item>
        <span matListItemTitle>Bahenní zápasy</span>
        <span matListItemLine>pátek 21:00</span>
        <span matListItemLine>Naše krásné Nuclear Valkyries pro vás připravily velké klání těch nejodvážnějších bojovnic ze všech koutů
        pustiny, které změří svý síly v těžkým bahně! U toho musite bejt…</span>
    </mat-list-item>
    <mat-list-item>
        <span matListItemTitle>Pubquiz</span>
        <span matListItemLine>sobota 13:00</span>
        <span matListItemLine>Luke vám potrápí závity quizem na téma "Apokalypsa před a po". Soutěžit budou moc až pětičlenný teamy,
        registrace není nutná, hlavně si vemte psací potřeby a co nejvíc nerdský kámoše.</span>
    </mat-list-item>
    <mat-list-item>
        <span matListItemTitle>Achievement hunt</span>
        <span matListItemLine>celou dobu festivalu až do soboty 22:00</span>
        <span matListItemLine>Festivalové aktivity jako LARP, soutěže a kmenový program budou hodnoceny achievement pointy. Na nejlepší tři AP
        huntery čekají nabité lootboxy a trofej. Achievementy se načítají na platební čipy, noste je s sebou!</span>
    </mat-list-item>
    <mat-list-item>
        <span matListItemTitle>Jugger</span>
        <span matListItemLine>sobota 18:30</span>
        <span matListItemLine>Jugger už je prostě klasika. V Polygonu hromu se utkaj drsný teamy a bude to fakt pořádná show.</span>
    </mat-list-item>
</mat-list>