<mat-list>
	<mat-list-item>
		<span matListItemTitle>{{ 'Rotorama předváděčky dronů' | translate }}</span>
		<span matListItemLine>{{ 'Kapesních i vražedně rychlých závodních. Exhibiční akrobacie, průlety Cybertownem, možnost zkusit i pilotovat. Bayraktary nevedeme.' | translate }}</span>
		<span matListItemLine>{{ 'Pátek' | translate }}, {{ 'Sobota' | translate }} 10:00 - 20:00 ({{'i podle počasí' | translate}})</span>
	</mat-list-item>

	<mat-list-item>
		<span matListItemTitle>{{ 'Gamehall' | translate }}</span>
		<span matListItemLine>{{ 'Místo zasvěcené virtuálním hrám a hrátkám. Arkádovky, headsety, LAN párty. Pozor, silně návykové!' | translate }}</span>
		<span matListItemLine>{{ 'Čtvrtek' | translate }} 16:00 - 4:00</span>
		<span matListItemLine>{{ 'Pátek' | translate }}, {{ 'Sobota' | translate }} 10:00 - 4:00</span>
	</mat-list-item>

	<mat-list-item>
		<span matListItemTitle>{{ 'Casino ' | translate }}</span>
		<span matListItemLine>{{ 'Plácek otevírá spoustu možností, jak roztočit a rozmnožit kreditové konto. Nebo krachnout...' | translate }}</span>
		<span matListItemLine>{{ 'Čtvrtek' | translate }} 16:00 - 3:00</span>
		<span matListItemLine>{{ 'Pátek' | translate }}, {{ 'Sobota' | translate }} 13:00 - 3:00</span>
	</mat-list-item>

	<mat-list-item>
		<span matListItemTitle>{{ 'Střelnice' | translate }}</span>
		<span matListItemLine>{{ 'Bude? No jasně! Bez kvéru ani ránu! A tady tě ho naučí držet i používat. Plastomety, flusbroky, terče i CQB, laserový simulátor!' | translate }}</span>
		<span matListItemLine>{{ 'Čtvrtek' | translate }} 16:00 -19:00</span>
		<span matListItemLine>{{ 'Pátek' | translate }}, {{ 'Sobota' | translate }} 10:00 - 18:00</span>
	</mat-list-item>

	<mat-list-item>
		<span matListItemTitle>{{ 'Nerf Aréna' | translate }}</span>
		<span matListItemLine>{{ 'Peckovní aréna vyrostla v ghettu za Radnicí. Teď si tam můžeš vyříkat účty pomocí šipkometů!' | translate }}</span>
		<span matListItemLine>{{ 'Čtvrtek' | translate }} 16:00 -19:00</span>
		<span matListItemLine>{{ 'Pátek' | translate }}, {{ 'Sobota' | translate }} 10:00 - 19:00</span>
	</mat-list-item>

	<mat-list-item>
		<span matListItemTitle>{{ 'Ikaros' | translate }}</span>
		<span matListItemLine>{{ 'Pád lodi Ikaros si zahrajete v útrobách podzemí Kasáren. Nervy ti při tom našponuje k prasknutí! A nejen je.' | translate }}</span>
		<span matListItemLine>{{ 'Pátek' | translate }}, {{ 'Sobota' | translate }} 11:00 - 23:00</span>
	</mat-list-item>

	<mat-list-item>
		<span matListItemTitle>{{ 'Laserové bludiště' | translate }}</span>
		<span matListItemLine>{{ 'Světlonoši otevřou laserové bludiště v podzemním bunkru. Propleť se mezi laserovými paprsky až k odměně na konci. Ohebnost přijde vhod.' | translate }}</span>
		<span matListItemLine>{{ 'Čtvrtek' | translate }} 18:00 - 20:00</span>
		<span matListItemLine>{{ 'Pátek' | translate }}, {{ 'Sobota' | translate }} 13:00 - 19:00</span>
	</mat-list-item>

	<mat-list-item>
		<span matListItemTitle>{{ 'Prohlídka Cybertownu' | translate }}</span>
		<span matListItemLine>{{ 'Světlonoši podruhé! Tentokrát s již legendárními prohlídkami Cybertownu. Certifikovaní průvodci tě zasvětí do různých tajemství našeho města i zajímavých míst v okolí.' | translate }}</span>
		<span matListItemLine>{{ 'Čtvrtek' | translate }} 23:00</span>
		<span matListItemLine>{{ 'Pátek' | translate }} 13:00, 15:00, 23:30</span>
		<span matListItemLine>{{ 'Sobota' | translate }} 13:00, 16:00, 21:00</span>
	</mat-list-item>

	<mat-list-item>
		<span matListItemTitle>{{ 'Rezavej lunapark' | translate }}</span>
		<span matListItemLine>{{ 'Rezavý krámy a polofunkční mašiny pro vaše rozptýlení v pustině. Arkáda, Jukebox… vrací se i legendární Chlastomat! GLHF!' | translate }}</span>
		<span matListItemLine>{{ 'Pátek' | translate }}, {{ 'Sobota' | translate }} 13:00 - 23:00</span>
	</mat-list-item>
</mat-list>
