<div mat-dialog-title>
	<h2>{{'Oblíbené události' | translate}}</h2>
</div>

<div mat-dialog-content>
	<mat-tab-group>
		<mat-tab label="Uložit">
			<h4>{{ 'Načtěte tento QR kód v mobilní aplikaci pro přenos oblíbených eventů.' | translate }}</h4>
			<qrcode [qrdata]="favoritesData" [width]="256" [errorCorrectionLevel]="'L'"></qrcode>
		</mat-tab>

		<mat-tab label="Načíst">
			<h4>{{ 'Načtěte QR kód z prohlížeče.' | translate }}</h4>
			<app-qr-scanner (scanned)="onCodeResult($event)"></app-qr-scanner>
		</mat-tab>
	</mat-tab-group>
</div>

<mat-dialog-actions align="end">
	<button mat-raised-button
		mat-dialog-close
	>{{'Zavřít' | translate}}
	</button>
</mat-dialog-actions>
