<div mat-dialog-title>
	<h3>{{'Oblíbené události' | translate}}</h3>
</div>

<div mat-dialog-content>
	<mat-tab-group>
		<mat-tab label="Uložit">
			<h6>{{ 'Načtěte tento QR kód v mobilní aplikaci pro přenos oblíbených eventů.' | translate }}</h6>
			<qr-code [value]="favoritesData" [size]="256" [errorCorrectionLevel]="'L'"></qr-code>
		</mat-tab>

		<mat-tab label="Načíst">
			<h6>{{ 'Načtěte QR kód z prohlížeče.' | translate }}</h6>
			<app-qr-scanner (scanned)="onCodeResult($event)"></app-qr-scanner>
		</mat-tab>
	</mat-tab-group>
</div>

<mat-dialog-actions align="end">
	<button mat-raised-button
		mat-dialog-close
	>{{'Zavřít' | translate}}
	</button>
</mat-dialog-actions>
