<mat-tab-group class="full-height">
    @if (festivalMap) {
        <mat-tab [label]="festivalMapLabel">
            <ng-template matTabContent>
                <pinch-zoom style="height: 100%" [limitZoom]="6">
                    <div class="img-wrapper">
                        <img [src]="festivalMap" alt="Map"
                            (load)="festivalMapError.set(false)"
                            (error)="festivalMapError.set(true)">
                        @if (festivalMapError()) {
                            <div class="img-wrapper__offline">
                                <mat-icon>cloud_off</mat-icon>
                                <span>{{ 'Mapa není dostupná' | translate }}</span>
                            </div>
                        }
                    </div>
                </pinch-zoom>
            </ng-template>
        </mat-tab>
    }

    @if (competitionMap || competitionsInfo) {
        <mat-tab [label]="competitionMapLabel">
            <ng-template matTabContent>
                <mat-tab-group class="sub-tabs">
                    @if (competitionMap) {
                        <mat-tab [label]="'Mapa' | translate">
                            <ng-template matTabContent>
                                <pinch-zoom style="height: 100%" [limitZoom]="6">
                                    <div class="img-wrapper">
                                        <img [src]="competitionMap" alt="Map"
                                            (load)="competitionMapError.set(false)"
                                            (error)="competitionMapError.set(true)">
                                        @if (competitionMapError()) {
                                            <div class="img-wrapper__offline">
                                                <mat-icon>cloud_off</mat-icon>
                                                <span>{{ 'Mapa není dostupná' | translate }}</span>
                                            </div>
                                        }
                                    </div>
                                </pinch-zoom>
                            </ng-template>
                        </mat-tab>
                    }

                    @if (competitionsInfo) {
                        <mat-tab [label]="'další info' | translate">
                            <ng-template matTabContent>
                                <app-competitions-info [data]="competitionsInfo!"/>
                            </ng-template>
                        </mat-tab>
                    }
                </mat-tab-group>
            </ng-template>
        </mat-tab>
    }

    @if (tribesMap || tribesInfo) {
        <mat-tab [label]="tribesMapLabel">
            <ng-template matTabContent>
                <mat-tab-group class="sub-tabs">
                    @if (tribesMap) {
                        <mat-tab [label]="'Mapa' | translate">
                            <ng-template matTabContent>
                                <pinch-zoom style="height: 100%" [limitZoom]="6">
                                    <div class="img-wrapper">
                                        <img [src]="tribesMap" alt="Map"
                                            (load)="tribesMapError.set(false)"
                                            (error)="tribesMapError.set(true)">
                                        @if (tribesMapError()) {
                                            <div class="img-wrapper__offline">
                                                <mat-icon>cloud_off</mat-icon>
                                                <span>{{ 'Mapa není dostupná' | translate }}</span>
                                            </div>
                                        }
                                    </div>
                                </pinch-zoom>
                            </ng-template>
                        </mat-tab>
                    }

                    @if (tribesInfo) {
                        <mat-tab [label]="'další info' | translate">
                            <ng-template matTabContent>
                                <app-tribes-info [data]="tribesInfo!"/>
                            </ng-template>
                        </mat-tab>
                    }
                </mat-tab-group>
            </ng-template>
        </mat-tab>
    }
</mat-tab-group>
