<mat-tab-group>
  @if (festivalMap) {
    <mat-tab [label]="'Hlavní' | translate">
      <ng-template matTabContent>
        <div class="img-wrapper">
          <img [src]="festivalMap" alt="Festival map">
        </div>
      </ng-template>
    </mat-tab>
  }

  <mat-tab [label]="'Soutěže' | translate">
    <ng-template matTabContent>
      <mat-tab-group class="sub-tabs">
        @if (competitionMap) {
          <mat-tab [label]="'Mapa' | translate">
            <ng-template matTabContent>
              <div class="img-wrapper">
                <img [src]="competitionMap" alt="Competition map">
              </div>
            </ng-template>
          </mat-tab>
        }

        <mat-tab [label]="'Otevírací doba' | translate">
          <ng-template matTabContent>
            <app-competitions-info />
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </ng-template>
  </mat-tab>

  <mat-tab [label]="'Atrakce&kmeny' | translate">
    <ng-template matTabContent>
      <mat-tab-group class="sub-tabs">
        @if (tribesMap) {
          <mat-tab [label]="'Mapa' | translate">
            <ng-template matTabContent>
              <div class="img-wrapper">
                <img [src]="tribesMap" alt="Tribes map">
              </div>
            </ng-template>
          </mat-tab>
        }

        <mat-tab [label]="'Otevírací doba' | translate">
          <ng-template matTabContent>
            <app-tribes-info />
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </ng-template>
  </mat-tab>
</mat-tab-group>