:host {
	box-sizing: border-box;
	display: block;
	height: 100%;
}

.program {
	height: 100%;

	&__bottom-nav {
		height: 100%;
	}

	&__loading {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.mat-mdc-tab-body-content {
	margin: 8px;
}



