<mat-accordion>
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>{{ 'BSK ft. Rajda Team' | translate }}</mat-panel-title>
			<mat-panel-description>{{ 'Od probuzení do konce kalby' | translate }}</mat-panel-description>
		</mat-expansion-panel-header>
		<p>{{ 'Nebojíš se otestovat svojí arachnofobii a překonat hranice? Tak se zastav v Rajdenburgu a zkroť svoje nejtemnější obavy pořádným pavoučím zápasem!' | translate }}</p>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>{{ 'Kulturní fronta' | translate }}</mat-panel-title>
			<mat-panel-description>{{ 'Od probuzení dokud jede kalba' | translate }}</mat-panel-description>
		</mat-expansion-panel-header>
		<p>{{ 'Nejlepší bar v pustině ciwe, je Max Kalbar - to ví každej. Celodenní kalba (i chillba) vod probuzení barmana, dokad lidi nepadnou pod svatej vobrázek. Přiďte si s náma dát bacha na Maxovy slzy!' | translate }}</p>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>{{ 'Mechanici' | translate }}</mat-panel-title>
			<mat-panel-description>{{ 'K dispozici mezi polednem a půlnocí, vnitřek Kovárny je ale k posezení otevřený 24/7' | translate }}</mat-panel-description>
		</mat-expansion-panel-header>
		<p>{{ 'Kovárna – chrám Benzínu a domov Mechaniků. V tomto tradičním svatostánku alkoholismu čekejte přes den klidné posezení, a večer párty až do rána' | translate }}</p>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>{{ 'KURU' | translate }}</mat-panel-title>
			<mat-panel-description>{{ '10:00 - 16:00' | translate }}</mat-panel-description>
		</mat-expansion-panel-header>
		<p>{{ 'Chceš si vyzkoušet vytuněný post-apo cyklo speciály (Držkopád nebo Velkou svini)? Chceš ukázat celýmu městu, kdo má největší páru široko daleko? Navštiv kmen KURU! Nevyžádaný přednášky o (ne)výhodách kanibalismu included!' | translate }}</p>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>{{ 'Wasteland Wolves' | translate }}</mat-panel-title>
			<mat-panel-description>{{ 'Od probuzení do konce kalby' | translate }}</mat-panel-description>
		</mat-expansion-panel-header>
		<p>{{ 'Přicházejí z pustiny, je to banda vlčí. Přivítá vás na základně nožem, rumem, močí' | translate }}</p>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>{{ 'Spalovači' | translate }}</mat-panel-title>
			<mat-panel-description>{{ '10:00 - 18:30' | translate }}</mat-panel-description>
		</mat-expansion-panel-header>
		<p>{{ 'Přivezli další várku, tak si vezmi rukavice a pojď makat! Na třídící lince u Spalovačů si můžeš zkusit najít co nejrychleji všechny cennosti v hromadě šrotu, prověřit přesnou mušku nebo dobrý odhad, a třeba i ochutnat nějakou tu specialitu.' | translate }}</p>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>{{ 'Kovošrot' | translate }}</mat-panel-title>
			<mat-panel-description>{{ 'Od probuzení do konce trpělivosti prodejců' | translate }}</mat-panel-description>
		</mat-expansion-panel-header>
		<p>{{ 'Provozujeme bazar, kde prodáváme věci co kdo přinese a vše co za věci utržíme, tak dáváme majiteli. V našem obchodě si každý najde vše co jen může v postapu potřebovat od oblečení až po dekorace báze.' | translate }}</p>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>{{ 'Vol-Tech!' | translate }}</mat-panel-title>
			<mat-panel-description>{{ 'Za světla a kdykoli je někdo přítomen osobně na bázi.' | translate }}</mat-panel-description>
		</mat-expansion-panel-header>
		<p>{{ 'Jednoduchá a krátká QR procházka, kterou si vybereš svou vstupní cestu do Wastelandu. Jaký na konci vyjdeš o tobě poví víc, než je rzi v Rusthavenu.' | translate }}</p>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>{{ 'Casino' | translate }}</mat-panel-title>
			<mat-panel-description>{{ 'čt: 20 - 23; pá: 15 - 18, 20 - 23; so: 15 - 18, 20 - 23' | translate }}</mat-panel-description>
		</mat-expansion-panel-header>
		<p>{{ 'Přijďte na chvilku zapomenout na okolní všeobjímající rez a špínu a zkusit štěstí do Casina. Čekají na vás klasický hazardní hry, tombola, hezký holky a spousta dalšího. Ale nezapomeňte, prohrát se dá víc než jen to, co máte po kapsách.' | translate }}</p>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>{{ 'Stalkers' | translate }}</mat-panel-title>
			<mat-panel-description>{{ 'Od probuzení do konce trpělivosti prodejců' | translate }}</mat-panel-description>
		</mat-expansion-panel-header>
		<p>{{ 'Od doby, co je tu Zóna (ta vopravdická), jsme tu my. Scrap nás nezajíma, sbíráme artefakty a rádi vám je za nějaký ty rezáky střelíme. Máme i DIY kafe.' | translate }}</p>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>{{ 'Mrchožrouti' | translate }}</mat-panel-title>
			<mat-panel-description>{{ 'Od probuzení do konce kalby' | translate }}</mat-panel-description>
		</mat-expansion-panel-header>
		<p>{{ 'Přijeli z nějakého konce pustiny na svých strojích a jsou nezkrotní jako vítr, divocí jak hladové hyeny a přivezli s sebou quiz ohnivé vody.' | translate }}</p>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>{{ '326' | translate }}</mat-panel-title>
			<mat-panel-description>{{ 'Od probuzení do zhasnutí světel v obchůdku' | translate }}</mat-panel-description>
		</mat-expansion-panel-header>
		<p>{{ 'Jsme sebranka lidí, mutantů a utečenců z vaultu. Máme obchůdek s cetkami z celé pustiny, kde svým prodejním umem dokážou obrat, teda přesvědčit ke koupi cetek, nejednoho postapáka.' | translate }}</p>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>{{ 'SilverPaw' | translate }}</mat-panel-title>
			<mat-panel-description>{{ 'Každý den odpoledne, a pak podle zájmu' | translate }}</mat-panel-description>
		</mat-expansion-panel-header>
		<p>{{ 'Zastavte na pár minut nebo hodin, přijďte si zahrát nějakou deskovku a odpočiňte si od Světa venku! Tyhle devianty můžete potkat pravidelně v jejich skromné boudě přímo na Plácku, a jedno je jisté - u nich se rozhodně nudit nebudete. Tak sypejte lásku našim dobře známým Deskoherna Silverpaw.' | translate }}</p>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>{{ 'Zone Rats' | translate }}</mat-panel-title>
			<mat-panel-description>{{ 'Pukec bude dostupný celý festival. Stánek v náhodné časy' | translate }}</mat-panel-description>
		</mat-expansion-panel-header>
		<p>{{ 'Přijďte vyzvat své ne/přátelé na duel v krysecu! Náš Pukec na steroidech ukáže, kdo má nejrychlejší postřeh a prstoklad v pustině! Zároveň můžete utratit nějaký zetka v již tradičním krysím stánku. Zone ratí merch a cetky z kůže a cínu od Beruse' | translate }}</p>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>{{ 'Auxilia Morte' | translate }}</mat-panel-title>
			<mat-panel-description>{{ 'Dvakrát denně podle chuti a děr v hlavním programu' | translate }}</mat-panel-description>
		</mat-expansion-panel-header>
		<p>{{ 'Děláme dvakrát denně turnaje v palcoboxu, ve woodkopfu a ve Wencovo HŮ. Pokud jste zvědaví, co hrajou takový typický "lidi na špinavou práci", tak se stavte u Auxilia Morte.' | translate }}</p>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>{{ 'Knihovna' | translate }}</mat-panel-title>
			<mat-panel-description>{{ 'Od podvečera do noci' | translate }}</mat-panel-description>
		</mat-expansion-panel-header>
		<p>{{ 'První a jediná knihovna v Rusthavenu. Knihy uvnitř, rez a prach navenek. Naleznete u nás knižní fond, čaj a nutnou dávku byrokracie.' | translate }}</p>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>{{ 'Pošťáci' | translate }}</mat-panel-title>
			<mat-panel-description>{{ 'Od probuzení do konce pracovní doby za přepážkou' | translate }}</mat-panel-description>
		</mat-expansion-panel-header>
		<p>{{ 'Jsme Pošťáci, doručejem všechno a všude. Milostná přání a i výhružky doručíme adresátům včas a přesně, ale naše ceny nejsou nízké. A taky máme nějaký pohledy.' | translate }}</p>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>{{ 'Proroci minulosti' | translate }}</mat-panel-title>
			<mat-panel-description>{{ 'V pátek a v sobotu odpoledne' | translate }}</mat-panel-description>
		</mat-expansion-panel-header>
		<p>{{ 'V pátek a v sobotu odpoledne můžete u Proroků minulosti zkusit své štěstí ve Fortunatele, o malé přesto však zajímavé ceny.' | translate }}</p>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>{{ 'REZ' | translate }}</mat-panel-title>
			<mat-panel-description>{{ 'Samoobslužná zábava jede čtvrtek 17-24, pátek 10-14, sobota 10-24. Obsluha matů a další zábava pak je v pátek 14-24hod' | translate }}</mat-panel-description>
		</mat-expansion-panel-header>
		<p>{{ 'Chceš si vorazit a vodvázat se? Namlátit kámošovi v arkádovce, překonat ho v lovu ryb, či testnout pevnost svojí ruky? Stačí natáhnout krok do Rezavýho lunaparku, kde na tebe čekáme se svými zaručeně funkčními mašinami, ducha plnými hrami a kdo ví, možná bude i kolo štěstí!' | translate}}</p>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>{{ 'Západní Slované' | translate }}</mat-panel-title>
			<mat-panel-description>{{ 'samoobslužná zábava jede čtvrtek 17-24, pátek 10-14, sobota 10-24. Obsluha matů a další zábava pak je v pátek 14-24hod' | translate }}</mat-panel-description>
		</mat-expansion-panel-header>
		<p>{{ 'Chceš si vorazit a vodvázat se? Namlátit kámošovi v arkádovce, překonat ho v lovu ryb, či testnout pevnost svojí ruky? Stačí natáhnout krok do Rezavýho lunaparku, kde na tebe čekáme se svými zaručeně funkčními mašinami, ducha plnými hrami a kdo ví, možná bude i kolo štěstí!' | translate}}</p>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>{{ 'Vlkošedé bestie' | translate }}</mat-panel-title>
			<mat-panel-description>{{ 'pátek + sobota 15:30 až 18:30 s tím, že to protáhneme podle potřeby' | translate }}</mat-panel-description>
		</mat-expansion-panel-header>
		<p>{{ 'Seš ten největší bourák v okolí? A máš koule to předvést i s hotwheels autíčky? Tak se stav u Vlkošedých každý festivalový den mezi pátou až osmou a ptej se po Drtikulském Destrukčním Derby. Rezák za respawn, za killstreak dostaneš do nosu, největší Drtikul si odnese malou trofej. A že si chceš zkusit štěstí s vlastním autíčkem? Fajn, na káru je limit 24 cans. Jestli nevíš o čem mluvím, autíčko ti půjčíme a jak se to hraje pochytíš dřív, než bys řekl RustWheels.' | translate }}</p>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>{{ 'HOGS MMC' | translate }}</mat-panel-title>
			<mat-panel-description>{{ 'Od chvíle, kdy začneme jezdit, dokud nezačneme pít' | translate }}</mat-panel-description>
		</mat-expansion-panel-header>
		<p>{{ 'HOGS Mutant Motorcycle Club - nejkrásnější motorkářský gang v pustině! Přijďte nás navštívit – a pokud budete mít štěstí, budete přesvědčiví nebo velmi bohatí, můžete mít šanci projet se na zadním sedadle jedný z našich kár – nebo si jen dát drink v našem baru! (Obojí na vlastní nebezpečí, žádné záruky za ztrátu končetin, peněz nebo dobrého vzhledu). Najdete je za bází 326 a mluvte na nás anglicky.' | translate }}</p>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>{{ 'Střelnice' | translate }}</mat-panel-title>
			<mat-panel-description>{{ 'Pátek a sobota 9:00 - 18:00' | translate }}</mat-panel-description>
		</mat-expansion-panel-header>
		<p>{{ 'Jsme střelci. Umíme zacházet se zbraněmi. A umíme to učit.' | translate }}</p>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>{{ 'Ludograf ' | translate }}</mat-panel-title>
			<mat-panel-description></mat-panel-description>
		</mat-expansion-panel-header>
		<p>{{ 'Turnaje v starosvetskych hrach (budeme chodit po areali a robit nabor s tymi hrami cez den a v noci budu finale v kine). Workshop na fotenie 3D fotiek (meoskop). Budeme tam mat telku a VHSky s menej znamymi postapo tematickymi erotickymi a akcnymi filmami.' | translate }}</p>
	</mat-expansion-panel>
</mat-accordion>
