<mat-accordion>
    @for(item of data(); track $index) {
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>{{ item.tribeName }}</mat-panel-title>
                <mat-panel-description>
                    @if(translate.currentLang === 'cs') {{{ item.time_cs }}} @else {{{ item.time_en }}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>@if(translate.currentLang === 'cs') {{{ item.description_cs }}} @else {{{ item.description_en }}}</p>
        </mat-expansion-panel>
    }
</mat-accordion>
