<div class="full-program">
	<app-list-day-select [days]="days"
		[selectedDay]="selectedDay"
		(selectedDayChange)="setDay($event)">
	</app-list-day-select>

	<div class="full-program__list">
		<div class="list-horizontal"
			*ngIf="allSegments.length > 0; else noEvents"
			[style.width]="allSegments.length * FullProgramConfig.segmentWidth + 'px'"
		>
			<app-list-timeline [segments]="allSegments"></app-list-timeline>

			<div class="list-events">
				<div class="list-events__place"
					*ngFor="let place of places | keyvalue"
				>
					<app-list-place [place]="place.value"
						[segments]="allSegments"
						(placeSelect)="showEventDetail($event)"
					>
					</app-list-place>
				</div>
			</div>
		</div>
	</div>

	<app-event-detail-preview *ngIf="selectedEvent"
		[event]="selectedEvent"
		(favoriteChange)="setEventFavorite(selectedEvent.id, $event)">
	</app-event-detail-preview>

	<ng-template #noEvents>
		<div class="full-program__no-events">
			<h2>No events for this day</h2>
		</div>
	</ng-template>
</div>
