.full-program {
	overflow: hidden;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;

	.toolbar-wrapper {
		&::after {
			content: "";
			display: block;
			height: 10px;
			background-image: url("/assets/images/line-big.jpg");
		}
	}

	&__toolbar {
		.program-heading {
			margin: 0;
			letter-spacing: 1px;
		}

		&__actions {
			margin-left: auto;
			display: flex;
			align-items: center;
		}
	}

	&__secondary-toolbar {
		mat-toolbar {
			background-color: #151515 !important;
			height: 0;
			overflow: hidden;
			transition: all 0.3s ease-in-out;
		}

		&.opened {
			mat-toolbar {
				height: 60px;
				overflow: visible;
			}
		}

		&__actions {
			margin-left: auto;
			display: flex;
			align-items: center;
		}
	}

	&__list {
		width: 100%;
		overflow: auto;
		flex-grow: 1;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		height: 100%;

		&__scroll-to-now {
			position: absolute;
			right: 15px;
			bottom: 15px;
			z-index: 2
		}
	}

	&__no-events {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
	}
}

.list-horizontal {
	height: fit-content;
	padding: 0 15px;

	.list-events {
		display: flex;
		flex-direction: column;
	}
}


.feedback-btn {
	width: 100%;
	padding: 80px 20px;
	font-size: 20px;
	margin: 0 20px;
}

