.full-program {
	overflow: hidden;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;

	&__toolbar {
		margin-top: constant(safe-area-inset-top);
		margin-top: env(safe-area-inset-top);

		.program-heading {
			margin: 0;
			letter-spacing: 1px;
		}

        .program-logo {
          max-height: 50px;
        }

		&__actions {
			margin-left: auto;
			display: flex;
			align-items: center;
		}
	}

	&__secondary-toolbar {
		mat-toolbar {
			background-color: #151515;
			height: 0;
			overflow: hidden;
			transition: all 0.3s ease-in-out;
		}

		&.opened {
			mat-toolbar {
				height: 60px;
				overflow: visible;
			}
		}

		&__actions {
			margin-left: auto;
			display: flex;
			align-items: center;
		}
	}

	&__list {
		width: 100%;
		overflow: auto;
		flex-grow: 1;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		height: 100%;
		touch-action: pan-x pan-y;

		&__scroll-to-now {
			position: fixed;
			right: 25px;
			bottom: 75px;
			z-index: 2
		}
	}

	&__no-events {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
	}
}

.list-horizontal {
	height: fit-content;
	padding: 0 15px;

	.list-events {
		display: flex;
		flex-direction: column;
	}
}

.feedback-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 1rem;

	.feedback-btn {
		width: 100%;
		padding: 80px 20px;
		font-size: 20px;
		margin: 0 20px;
		border: 1px solid #f0c100;
		border-radius: 15px;
	}
}

