@if (event) {
  <button class="place__segment__event text-overflow-ellipsis"
    [style.right]="-(fullProgramConfig.segmentWidth * (event.segmentCount - 1)) + 'px'"
    [style.width]="(fullProgramConfig.segmentWidth * (event.segmentCount - 1)) + fullProgramConfig.segmentWidth - 2 + 'px'"
    [style.background-color]="event.eventType.color + ' !important'"
    (click)="showDetail(event)"
    >
    @if(event.favorite) {
      <div class="card-sidebar">
        <div class="icon-wrapper">
          <mat-icon class="favorite-icon">favorite</mat-icon>
        </div>
      </div>
    }
    <div class="card-content">
      <div class="card-title">{{ event | translateEventProperty: 'name' | eventEllipsis: event }}</div>
    </div>
    @if(event.tags && event.tags.length > 0) {
      <div class="tag">
        @if(translate.currentLang === 'cs') {
          {{ event.tags[0].nameCs }}
        } @else {
          {{ event.tags[0].nameEn }}
        }
      </div>
    }
  </button>
}
