
.place__segment__event {
	height: 50px;
	position: absolute;
	left: 0;
	background-color: var(--mdc-theme-surface);
	z-index: 1;
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 5px;
	text-align: left;
}

.favorite-icon {
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
}
