<button class="place__segment__event text-overflow-ellipsis"
	mat-button
	[style.right]="-(fullProgramConfig.segmentWidth * (event.segmentCount - 1)) + 'px'"
	[style.background-color]="fullProgramConfig.eventTypes[event.type].color + ' !important'"
	*ngIf="event"
	(click)="showDetail(event)"
>
	<div class="place__segment__event__name">
		<small *ngIf="programService.showEventDetails">({{ fullProgramConfig.eventTypes[event.type].abbr }}) </small>
		<span>{{ event | translateEventProperty: 'name' }}</span>
	</div>
	<div class="place__segment__event__info">
		<small>{{ event.start | date: 'HH:mm' }} - {{ event.end | date: 'HH:mm' }}</small>
		<mat-icon *ngIf="event.favorite"
			class="favorite-icon">favorite
		</mat-icon>
	</div>
</button>
