.place__segment__event {
	height: 65px;
	position: absolute;
	left: 0;
	background-color: var(--mdc-theme-surface);
	z-index: 1;
	padding: 8px 4px;
	border: 1px solid transparent;
	border-radius: 5px;
	text-align: center;
	font-size: 15px;
	color: #1e1e1e;
	opacity: 0.8;
	line-height: 15px !important;
	font-family: Roboto, monospace;
	font-weight: 500;
	margin: 0 1px;

	&__name {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5px;
	}

	&__info {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.favorite-icon {
	font-size: 18px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.8;
}
