.place__segment__event {
	height: 65px;
	position: absolute;
	left: 0;
	background-color: var(--mdc-theme-surface);
	z-index: 1;
	border: 1px solid transparent;
	border-radius: 5px;
	font-size: 15px;
	color: #1e1e1e;
	opacity: 0.8;
	line-height: 15px !important;
	font-weight: 500;
	margin: 0 1px;
	display: flex;
	align-items: stretch;

	width: 250px;
	padding: 0;
	overflow: hidden;
	cursor: pointer;
	text-align: left;

	.card-sidebar {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 25px;
		border-right: 1px solid black;

		mat-icon {
			font-size: 18px;
			width: 20px;
			height: 20px;
		}
	}

	.card-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 6px;
		flex-grow: 1;
	}

	.card-title {
		//font-weight: 700;
		//letter-spacing: 0.5px;
		font-size: 13px;
	}

	.card-title-secondary {
		font-size: 11.5px;
		color: #555;
	}

	&__name {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	&__info {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.tag {
	font-size: 12px;
	position: absolute;
	right: 5px;
	bottom: 3px;
}
