.body-wrapper {
	height: 100dvh;
	display: flex;
	flex-direction: column;
	padding-bottom: constant(safe-area-inset-bottom);
	padding-bottom: env(safe-area-inset-bottom);

	.main-content {
		height: 100%;
	}

	&.revert-items {
		flex-direction: column-reverse;
	}
}

.mat-drawer-container {
	flex-grow: 1;
}
