<mat-list>
	<mat-list-item>
		<span matListItemTitle>{{ 'Coloseum' | translate }}</span>
		<span matListItemLine class="sub-header">{{ 'Aréna každý den od rána do večera, finále v Coloseu Sobota 16:00' | translate }}</span>
		<span matListItemLine>{{ 'Přijďte vyhrát slávu a rezáky v Aréně za bránou Námka, otevřeno bude skoro furt - nejlepší bojovníci se pak utkají v sobotu v Polygonu v eventu Coloseum. Vítěz bere vše!' | translate }}</span>
	</mat-list-item>

	<mat-list-item>
		<span matListItemTitle>{{ 'NERF střelnice' | translate }}</span>
		<span matListItemLine class="sub-header">{{ 'Pátek a sobota 10:00 - 18:00' | translate }}</span>
		<span matListItemLine>{{ 'Na Rushaven ožije i Aztlan district pod vedením Shaataze, kterej si pro vás nachystal turnaj v NERF střelecké dráze. Máš "big iron on your hip"? Tak skoč za Radnici, a zjisti jak vostrej seš střelec. Na nejlepší tři střelce čekají balíky merche, a pro toho nejlepšího vymazlená nerfka.' | translate }}</span>
	</mat-list-item>

	<mat-list-item>
		<span matListItemTitle>{{ 'Nejlepší kostým' | translate }}</span>
		<span matListItemLine class="sub-header">{{ '1. kolo Námko pátek 13:30, druhé kolo Polygon 17:00' | translate }}</span>
		<span matListItemLine>{{ 'Letos bude soutěž o nejlepší kostým fakt epická. Čeká vás super porota, moderátor Marťušák a nabušené odměny pro výherce. Soutěžit se bude pouze v jedné kategorii - nejlepší kostým. Můžou se účastnit i menší skupinky, ale hodnoceny budou podle pravidla "řetěz je tak silný, jako jeho nejslabší článek".' | translate }}</span>
	</mat-list-item>

	<mat-list-item>
		<span matListItemTitle>{{ 'Nejlepší kára a motorka' | translate }}</span>
		<span matListItemLine class="sub-header">{{ '1. kolo louka pátek 13:00, druhé kolo Polygon 15:30' | translate }}</span>
		<span matListItemLine>{{ 'Řev motorů, kulervoucí dekošky, pach pálených pneumatik a BENZÍN! První kolo soutěže o nejlepší káru a motorku proběhne na Louce, druhé v Polygonu' | translate }}</span>
	</mat-list-item>

	<mat-list-item>
		<span matListItemTitle>{{ 'Bahenní zápasy' | translate }}</span>
		<span matListItemLine class="sub-header">{{ 'Pátek 21:00' | translate }}</span>
		<span matListItemLine>{{ 'Naše krásné Nuclear Valkyries pro vás připravily velké klání těch nejodvážnějších bojovnic ze všech koutů pustiny, které změří svý síly v těžkým bahně! U toho musite bejt…' | translate }}</span>
	</mat-list-item>

	<mat-list-item>
		<span matListItemTitle>{{ 'Pubquiz' | translate }}</span>
		<span matListItemLine class="sub-header">{{ 'Sobota 13:00' | translate }}</span>
		<span matListItemLine>{{ 'Luke vám potrápí závity quizem na téma "Apokalypsa před a po". Soutěžit budou moc až pětičlenný teamy, registrace není nutná, hlavně si vemte psací potřeby a co nejvíc nerdský kámoše.' | translate }}</span>
	</mat-list-item>

	<mat-list-item>
		<span matListItemTitle>{{ 'Achievement hunt' | translate }}</span>
		<span matListItemLine class="sub-header">{{ 'Celou dobu festivalu až do soboty 22:00' | translate }}</span>
		<span matListItemLine>{{ 'Festivalové aktivity jako LARP, soutěže a kmenový program budou hodnoceny achievement pointy. Na nejlepší tři AP huntery čekají nabité lootboxy a trofej. Achievementy se načítají na platební čipy, noste je s sebou!' | translate }}</span>
	</mat-list-item>

	<mat-list-item>
		<span matListItemTitle>{{ 'Jugger' | translate }}</span>
		<span matListItemLine class="sub-header">{{ 'Sobota 18:30' | translate }}</span>
		<span matListItemLine>{{ 'Jugger už je prostě klasika. V Polygonu hromu se utkaj drsný teamy a bude to fakt pořádná show.' | translate }}</span>
	</mat-list-item>
</mat-list>
