<mat-list>
    @for(item of data(); track $index) {
        <mat-list-item>
            <span matListItemTitle>
                @if(translate.currentLang === 'cs') {
                    {{ item.tribeName_cs }}
                } @else {
                    {{ item.tribeName_en }}
                }
            </span>
            <span matListItemLine class="sub-header">
                @if(translate.currentLang === 'cs') {{{ item.day_cs }}} @else {{{ item.day_en }}}
                ({{ item.time }})
            </span>
            <span matListItemLine class="sub-header">{{ item.place }}</span>
            <span matListItemLine>
                @if(translate.currentLang === 'cs') {{{ item.description_cs }}} @else {{{ item.description_en }}}
            </span>
        </mat-list-item>
    }
</mat-list>
