:host {
	display: block;
	height: 100%;
	overflow: auto;

	.mat-mdc-list {
		padding: 0;
	}
}

.list-vertical {

	&__day {
		font-size: 14px;
		text-transform: capitalize;
		background-color: #0f0f0f;
		position: sticky;
		top: 0;
		left: 0;
		padding: 10px 15px;
	}

	&__event {
		display: flex;
		justify-content: space-between;
		align-self: center;
		padding: 15px 15px 20px 20px;

		&:not(:last-child) {
			border-bottom: 1px solid #b08d0025;
		}

		&__content {
			display: flex;
			flex-direction: row;
			align-items: center;

			&__image {
				margin-left: 15px;
				height: 70px;

				img {
					height: 100%;
					width: auto;
				}
			}

			&__title {
				font-size: 18px;
				word-wrap: break-word;
				margin-left: 15px;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;

				.event-title {
					color: #f0c100;
					margin-bottom: 0.3rem;
				}
			}
		}

		&__actions {
			display: flex;
			align-items: center;
		}
	}
}
