<div class="list-vertical">
  <mat-list role="list">
    @for (day of groupEvents() | keyvalue; track day) {
      <div role="listitem"
        class="list-vertical__day">
        {{ ((day.key | date: 'EEEE') || '') | translate }}
      </div>
      @if (day.value.length > 0) {
        <div
          role="list"
          >
          @for (event of day.value; track event) {
            <div
              (click)="openFullDetail(event, event.location)"
              [style.border-left]="'8px solid ' + event.eventType.color"
              matRipple
              role="listitem"
              class="list-vertical__event"
              >
              <div class="list-vertical__event__content">
                <span class="list-vertical__event__content__time">
                  <small>
                    <div>{{ event.startAt | date: 'HH:mm' }}</div>
                    <div>{{ event.endAt | date: 'HH:mm' }}</div>
                  </small>
                </span>
                <div class="d-flex align-items-center">
                  <span class="list-vertical__event__content__title">
                    <span class="event-title">{{ event | translateEventProperty: 'name' }}</span>
                    <small>
                      {{ event.eventType.name }}
                    </small>
                    <small>{{event.location.name }}</small>
                  </span>
                </div>
              </div>
              <div class="list-vertical__event__actions">
                <button mat-icon-button
                  class="list-vertical__event__actions__favorite"
                  (click)="toggleFavorite(event, $event)">
                  <mat-icon>{{ event.favorite ? 'favorite' : 'favorite_border' }}</mat-icon>
                </button>
              </div>
            </div>
          }
        </div>
      }
    }
  </mat-list>
</div>
