<div class="list-vertical">
	<mat-list class=""
		role="list"
	>
		<ng-container *ngFor="let day of groupEvents | keyvalue">
			<div role="listitem"
				class="list-vertical__day">
				{{ day.key | date: 'EEEE'}}
			</div>

			<div *ngIf="day.value.length > 0"
				role="list"
			>
				<div *ngFor="let event of day.value"
					(click)="openFullDetail(event)"
					role="listitem"
					class="list-vertical__event"
					matRipple
				>
					<div class="list-vertical__event__content">
						<span class="list-vertical__event__content__time">
							<small>
								<div>{{ event.start | date: 'HH:mm' }}</div>
								<div>{{ event.end | date: 'HH:mm' }}</div>
							</small>
						</span>
						<div class="d-flex">
							<span class="list-vertical__event__content__image">
								<img [src]="'/assets/images/cybertown_logo_square.jpg'"
									alt="Event image">
							</span>

							<span class="list-vertical__event__content__title">
								{{ event.name }}
								<small>{{event.place.name }}</small>
							</span>
						</div>
					</div>
					<div class="list-vertical__event__actions">
						<button mat-icon-button
							class="list-vertical__event__actions__favorite"
							(click)="toggleFavorite(event)">
							<mat-icon>{{ event.favorite ? 'favorite' : 'favorite_border' }}</mat-icon>
						</button>
					</div>
				</div>
			</div>
		</ng-container>
	</mat-list>
</div>
