.bottom-menu {
	border-top: 1px solid var(--mat-button-toggle-selected-state-background-color);
	padding: 0;
	flex-shrink: 0;
	margin-bottom: constant(safe-area-inset-bottom);
	margin-bottom: env(safe-area-inset-bottom);

	&__content {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	&__button {
		flex-grow: 1;
		height: 100%;
		border-radius: 0;

		&--active {
			background-color: var(--mat-button-toggle-selected-state-background-color) !important;
		}

		mat-icon {
			transform: scale(1.5);
			margin: 0;
		}
		&.with-text {
			mat-icon {
				margin-right: 15px;
			}
		}
	}
}
