:host {
	display: block;
	height: 100%;

	.mat-mdc-dialog-content {
		padding: 0 !important;
	}
}

::ng-deep {
	.event-list-dialog__header__search-input {
		.mat-mdc-form-field-infix {
			min-height: 30px;
			height: 30px
		}

		.mat-mdc-form-field-subscript-wrapper {
			display: none;
		}
	}
}

.event-list-dialog {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid rgba(var(--cy__color--border), 0.25);
		padding: 15px 15px 15px 0;

		&__search-input {
			width: 100%;
			margin: auto 15px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		height: 100%;
		min-height: 100%;

		&__no-events {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
		}
	}
}
