<zxing-scanner
	#scanner
	[enable]="!!currentDevice"
	(scanSuccess)="handleQrCodeResult($event)"
	(camerasFound)="camerasFoundHandler($event)"
	(camerasNotFound)="camerasNotFoundHandler($event)"
	[device]="currentDevice"
	class="mb-1"
></zxing-scanner>

@if(cameraNotFound) {
	<h5>{{ 'Nejde načíst kameru' | translate }}</h5>
} @else {
	<mat-form-field class="w-100">
		<mat-label>{{'Kamera' | translate}}</mat-label>
		<mat-select class="form-control"
			[(value)]="currentDeviceId"
		>
			<mat-option *ngFor="let device of cameras"
				[value]="device.deviceId"
			>
				{{device.label}}
			</mat-option>
		</mat-select>
	</mat-form-field>

}
