<mat-toolbar class="notifications-toolbar">
	<span>{{'Notifikace' | translate}}</span>
	<div class="notifications-toolbar__actions">
		<button mat-icon-button
			aria-label="Filter events"
			(click)="showSettings()">
			<mat-icon>settings</mat-icon>
		</button>
	</div>
</mat-toolbar>

<mat-list class="notifications-list">
	<mat-list-item *ngFor="let notification of notificationService.notifications()"
		class="notifications-list__item"
	>
		<span matListItemTitle class="notifications-list__item__title">
			{{ notification.headings[translate.currentLang] }}
		</span>
		<p class="notifications-list__item__detail">
			{{ notification.contents[translate.currentLang] }}
		</p>
	</mat-list-item>
</mat-list>
