.notifications-toolbar {
	justify-content: space-between;
}

.notifications-list {
	&__item {
		height: auto !important;

		&:not(:last-child) {
			border-bottom: 1px solid #b08d0025;
		}

		&__detail {
			padding-left: 15px;
			margin: -10px 0 10px 0;
		}

	}
}
