.notifications-toolbar {
	justify-content: space-between;
}

.notifications-list {
	&__item {
		height: auto !important;

		&:not(:last-child) {
			border-bottom: 1px solid rgba(var(--cy__color--border), 0.25);
		}

		&__detail {
			padding-left: 15px;
			white-space: pre-wrap;
			margin: 0;
		}

	}
}
