<div style="position: relative">
  <div class="list-timeline-bg"></div>
  <div class="list-timeline">
    @for (segment of segments; track segment; let isFirst = $first) {
      <div class="list-timeline__segment"
        [style.width]="FullProgramConfig.segmentWidth + 'px'"
        >
        @if (segment.time === timeNow) {
          <div class="list-timeline__segment__border--now"
            #segmentNow
            >
          </div>
        }
        @if (segment.isWholeHour) {
          @if (!isFirst) {
            <div class="list-timeline__segment__border"
              >
            </div>
          }
          <span class="list-timeline__segment__time">{{ segment.time }}</span>
        }
      </div>
    }
  </div>
</div>