:host {
	position: sticky;
	display: block;
	z-index: 100;
	top: 0;

	.list-timeline-bg {
		background-color: #0f0f0f;
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0.4;
		left: -15px;
	}

	.list-timeline {
		display: flex;
		padding: 0.3rem 0;

		&__segment {
			position: relative;

			&__border {
				position: absolute;
				width: 1px;
				height: 100vh;
				background-color: #fecc0030;

				&--now {
					position: absolute;
					width: 1px;
					height: 100vh;
					background-color: #fecc00;
				}
			}

			&__time {
				padding: 0 10px;
			}
		}
	}
}