.list-timeline {
	display: flex;
	position: sticky;
	top: 0;
	background-color: #0f0f0f;
	z-index: 100;
	padding: 0.3rem 0;

	&__segment {
		position: relative;

		&__border {
			position: absolute;
			width: 1px;
			height: 100vh;
			background-color: #fecc0030;

			&--now {
				position: absolute;
				width: 1px;
				height: 100vh;
				background-color: #fecc00;
			}
		}

		&__time {
			padding: 0 10px;
		}
	}
}
