.place {
	&__title {
		padding: 10px;

		&__text {
			position: sticky;
			left: 15px;
			border: 1px solid transparent;
			border-radius: 13px;
			padding: 5px 10px;
			background-color: rgb(var(--cy__color--primary-500));
		}
	}

	&__segment-list {
		display: flex;
		flex-direction: row;

		.place__segment {
			position: relative;
			height: 50px;
		}
	}
}
