.event-detail {
	display: flex;
	flex-direction: column;

	&__content {
		display: flex;
		flex-grow: 1;
		flex-direction: column;

		&__title {
			display: flex;
			flex-grow: 1;

			&__info {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				word-break: break-all;

				h4 {
					word-break: break-word;
					color: #f0c100;
				}

				h5 {
					margin-bottom: 0;
				}
			}
		}

		&__description {
			word-break: break-word;

			p {
				margin: 0;
			}
		}
	}

	&__controls {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
