.event-detail {
	display: flex;

	&__content {
		display: flex;
		flex-grow: 1;

		&__image {
			img {
				width: 130px;
				height: 130px;
			}
		}

		&__info {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			word-break: break-all;
			padding: 8px;
			padding-left: 16px;

			h4 {
				margin-bottom: 0;
			}
		}
	}

	&__controls {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		padding-right: 5px;
	}
}
