<div class="event-detail">
	<div class="event-detail__content"
		(click)="openFullDetail()">
		<div class="event-detail__content__title">

			<div class="event-detail__content__title__info">
				<h4>{{ data.event | translateEventProperty: 'name' }}</h4>
				<h6>
                    {{ data.event.eventType | localizedName }}
                </h6>
				<div style="display: flex; justify-content: space-between; align-items: center">
                    <div>{{ data.event.startAt | date: 'HH:mm' }} - {{ data.event.endAt | date: 'HH:mm' }}</div>
                    <app-event-tags [event]="data.event" />
                </div>
			</div>
		</div>

		<div class="event-detail__content__description">
			<p>{{ data.event | translateEventProperty: 'description' | ellipsis: 200 }}</p>
		</div>
	</div>

    <mat-divider />

	<div class="event-detail__controls">
		<button mat-mini-fab
			(click)="toggleFavorite()">
			<mat-icon>{{ data.event.favorite ? 'favorite' : 'favorite_border' }}</mat-icon>
		</button>

		<button mat-mini-fab
			(click)="openFullDetail()">
			<mat-icon>arrow_forward</mat-icon>
		</button>
	</div>
</div>



