.event-detail {
	display: flex;
	flex-direction: column;

	&__content {
		display: flex;
		flex-grow: 1;
		flex-direction: column;

		&__title {
			display: flex;
			flex-grow: 1;

			&__image {
				img {
					width: 130px;
					height: 130px;
				}
			}

			&__info {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				word-break: break-all;
				padding: 0 8px 0 16px;

				h3 {
					word-break: break-word;
				}

				h4 {
					margin-bottom: 0;
				}
			}
		}

		&__description {
			border-top: 1px solid rgba(var(--cy__color--border), 0.5);
			padding-top: 5px;

			p {
				margin: 0;
			}
		}
	}

	&__controls {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
