<div class="event-detail">
	<div class="event-detail__content" (click)="openFullDetail()">
		<div class="event-detail__content__image">
			<img [src]="data.event.image ?? 'assets/images/cybertown_logo_square.jpg'"
				alt="Event image">
		</div>

		<div class="event-detail__content__info">
			<h4>{{ data.event.name }}</h4>
			<div>{{ data.event.start | date: 'HH:mm' }} - {{ data.event.end | date: 'HH:mm' }}</div>
		</div>
	</div>

	<div class="event-detail__controls">
		<button mat-icon-button
			(click)="toggleFavorite()">
			<mat-icon>{{ data.event.favorite ? 'favorite' : 'favorite_border' }}</mat-icon>
		</button>
	</div>
</div>



